In [5]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

# if __name__ == "__main__":
    # spark = SparkSesion.builder.appName("MyApp").getOrCreate()
SpSession = SparkSession \
    .builder \
    .appName("Demo Spark") \
    .getOrCreate()

sparkContext = SpSession.sparkContext # clusters

# Upload data

In [8]:
data = SpSession.read.csv("cars.csv", header=True, sep=";")
data.show(6)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 6 rows

# Knowing data

In [9]:
data.printSchema() # desc table

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [10]:
data.columns # columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [12]:
data.dtypes # data type

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

# Selecting columns

In [13]:
# method 1
data.select(data.Car).show()
# data.select(data.Car).show() truncate=False - view all info per row

+--------------------+
|                 Car|
+--------------------+
|              STRING|
|Chevrolet Chevell...|
|   Buick Skylark 320|
|  Plymouth Satellite|
|       AMC Rebel SST|
|         Ford Torino|
|    Ford Galaxie 500|
|    Chevrolet Impala|
|   Plymouth Fury iii|
|    Pontiac Catalina|
|  AMC Ambassador DPL|
|Citroen DS-21 Pallas|
|Chevrolet Chevell...|
|    Ford Torino (sw)|
|Plymouth Satellit...|
|  AMC Rebel SST (sw)|
| Dodge Challenger SE|
|  Plymouth 'Cuda 340|
|Ford Mustang Boss...|
|Chevrolet Monte C...|
+--------------------+
only showing top 20 rows

In [15]:
# method 2
from os import truncate
data.select(data["Car"]).show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [16]:
# method 3
from pyspark.sql.functions import col
data.select(col("Car")).show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

### Multiple Selection

In [17]:
# 1
data.select(data.Car, data.Cylinders).show(truncate=False)

+--------------------------------+---------+
|Car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

In [21]:
# 2
data.select(data["Car"], data["Cylinders"]).show(truncate=False) # No upper case sensitive

+--------------------------------+---------+
|Car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

In [23]:
data.select(col("Car"),col("Cylinders")).show(truncate=False)

+--------------------------------+---------+
|Car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

# Add columns

In [26]:
# 1
from pyspark.sql.functions import lit

df = data.withColumn("First_Column", lit(1))
df.show(6, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|First_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |1           |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |1           |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |1           |
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |1           |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |1           |
|Ford Torino              |17.0  |8        |302.0       |140.0     |3449. |10.5        |70   |US    |1           |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
only showing top 6 rows

In [27]:
# 2
df = data.withColumn("Second_Column", lit(2)) \
    .withColumn("Third_Column", lit("si venga hombre"))
df.show(6, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+---------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column   |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+---------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |2            |si venga hombre|
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |2            |si venga hombre|
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |2            |si venga hombre|
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |2            |si venga hombre|
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |2            |si venga hombre|
|Ford Torino              |17.0  |8        |302.0       |140.0     |3449. |10.5        |70   |US    |2            |si venga hombre|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+---------------+
only showing top 6 rows

# Grouping

In [28]:
df.groupBy("Origin").count().show()

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
|   CAT|    1|
| Japan|   79|
+------+-----+

In [29]:
df.groupBy("Horsepower").count().show()

+----------+-----+
|Horsepower|count|
+----------+-----+
|     102.0|    1|
|     68.00|    6|
|     116.0|    1|
|     145.0|    7|
|     90.00|   20|
|     87.00|    2|
|     170.0|    5|
|     75.00|   14|
|     132.0|    1|
|     84.00|    6|
|     88.00|   19|
|     200.0|    1|
|     152.0|    1|
|         0|    6|
|     120.0|    4|
|     80.00|    7|
|     108.0|    1|
|     58.00|    2|
|     210.0|    1|
|     96.00|    3|
+----------+-----+
only showing top 20 rows

In [30]:
df.groupBy("Origin","Horsepower").count().show(6)

+------+----------+-----+
|Origin|Horsepower|count|
+------+----------+-----+
|Europe|     46.00|    2|
| Japan|     67.00|    8|
|    US|     198.0|    2|
|    US|     75.00|    3|
|    US|     60.00|    1|
| Japan|     97.00|    7|
+------+----------+-----+
only showing top 6 rows

# Deleting Columns

In [31]:
df.show()

+--------------------+------+---------+------------+----------+------+------------+-----+------+-------------+---------------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|   Third_Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+-------------+---------------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|            2|si venga hombre|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|            2|si venga hombre|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|            2|si venga hombre|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|            2|si venga hombre|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|            2|si venga hombre|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|            2|si venga hombre|
|    Ford Galaxie 500|  15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|            2|si venga hombre|
|    Chevrolet Impala|  14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|            2|si venga hombre|
|   Plymouth Fury iii|  14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|            2|si venga hombre|
|    Pontiac Catalina|  14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|            2|si venga hombre|
|  AMC Ambassador DPL|  15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|            2|si venga hombre|
|Citroen DS-21 Pallas|     0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|            2|si venga hombre|
|Chevrolet Chevell...|     0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|            2|si venga hombre|
|    Ford Torino (sw)|     0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|            2|si venga hombre|
|Plymouth Satellit...|     0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|            2|si venga hombre|
|  AMC Rebel SST (sw)|     0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|            2|si venga hombre|
| Dodge Challenger SE|  15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|            2|si venga hombre|
|  Plymouth 'Cuda 340|  14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|            2|si venga hombre|
|Ford Mustang Boss...|     0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|            2|si venga hombre|
|Chevrolet Monte C...|  15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|            2|si venga hombre|
+--------------------+------+---------+------------+----------+------+------------+-----+------+-------------+---------------+
only showing top 20 rows

In [32]:
df = df.drop("Second_Column") #df = df.drop("Second_Column", "Third_Column")
df.show()

+--------------------+------+---------+------------+----------+------+------------+-----+------+---------------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|   Third_Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+---------------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|si venga hombre|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|si venga hombre|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|si venga hombre|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|si venga hombre|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|si venga hombre|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|si venga hombre|
|    Ford Galaxie 500|  15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|si venga hombre|
|    Chevrolet Impala|  14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|si venga hombre|
|   Plymouth Fury iii|  14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|si venga hombre|
|    Pontiac Catalina|  14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|si venga hombre|
|  AMC Ambassador DPL|  15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|si venga hombre|
|Citroen DS-21 Pallas|     0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|si venga hombre|
|Chevrolet Chevell...|     0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|si venga hombre|
|    Ford Torino (sw)|     0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|si venga hombre|
|Plymouth Satellit...|     0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|si venga hombre|
|  AMC Rebel SST (sw)|     0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|si venga hombre|
| Dodge Challenger SE|  15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|si venga hombre|
|  Plymouth 'Cuda 340|  14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|si venga hombre|
|Ford Mustang Boss...|     0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|si venga hombre|
|Chevrolet Monte C...|  15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|si venga hombre|
+--------------------+------+---------+------------+----------+------+------------+-----+------+---------------+
only showing top 20 rows

# Order

In [37]:
df.orderBy("Cylinders", ascending=False).show(6, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+---------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Third_Column   |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+---------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |si venga hombre|
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |si venga hombre|
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |si venga hombre|
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |si venga hombre|
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |si venga hombre|
|Ford Torino              |17.0  |8        |302.0       |140.0     |3449. |10.5        |70   |US    |si venga hombre|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+---------------+
only showing top 6 rows

In [39]:
df.groupBy("Origin").count().orderBy("count", ascending=False).show(9)

+------+-----+
|Origin|count|
+------+-----+
|    US|  254|
| Japan|   79|
|Europe|   73|
|   CAT|    1|
+------+-----+

# Filtering

In [40]:
df.show()

+--------------------+------+---------+------------+----------+------+------------+-----+------+---------------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|   Third_Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+---------------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|si venga hombre|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|si venga hombre|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|si venga hombre|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|si venga hombre|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|si venga hombre|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|si venga hombre|
|    Ford Galaxie 500|  15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|si venga hombre|
|    Chevrolet Impala|  14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|si venga hombre|
|   Plymouth Fury iii|  14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|si venga hombre|
|    Pontiac Catalina|  14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|si venga hombre|
|  AMC Ambassador DPL|  15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|si venga hombre|
|Citroen DS-21 Pallas|     0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|si venga hombre|
|Chevrolet Chevell...|     0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|si venga hombre|
|    Ford Torino (sw)|     0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|si venga hombre|
|Plymouth Satellit...|     0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|si venga hombre|
|  AMC Rebel SST (sw)|     0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|si venga hombre|
| Dodge Challenger SE|  15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|si venga hombre|
|  Plymouth 'Cuda 340|  14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|si venga hombre|
|Ford Mustang Boss...|     0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|si venga hombre|
|Chevrolet Monte C...|  15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|si venga hombre|
+--------------------+------+---------+------------+----------+------+------------+-----+------+---------------+
only showing top 20 rows

In [41]:
total_count = df.count()
total_count

407

In [45]:
df.filter(df["Origin"] == "Europe").count()
df.filter(df["Origin"] == "Europe").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+---------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|   Third_Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+---------------+
|Citroen DS-21 Pallas|   0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|si venga hombre|
|Volkswagen 1131 D...|26.0|        4|       97.00|     46.00| 1835.|        20.5|   70|Europe|si venga hombre|
|         Peugeot 504|25.0|        4|       110.0|     87.00| 2672.|        17.5|   70|Europe|si venga hombre|
|         Audi 100 LS|24.0|        4|       107.0|     90.00| 2430.|        14.5|   70|Europe|si venga hombre|
|            Saab 99e|25.0|        4|       104.0|     95.00| 2375.|        17.5|   70|Europe|si venga hombre|
|            BMW 2002|26.0|        4|       121.0|     113.0| 2234.|        12.5|   70|Europe|si venga hombre|
|Volkswagen Super ...|   0|        4|       97.00|     48.00| 1978.|        20.0|   71|Europe|si venga hombre|
|           Opel 1900|28.0|        4|       116.0|     90.00| 2123.|        14.0|   71|Europe|si venga hombre|
|         Peugeot 304|30.0|        4|       79.00|     70.00| 2074.|        19.5|   71|Europe|si venga hombre|
|           Fiat 124B|30.0|        4|       88.00|     76.00| 2065.|        14.5|   71|Europe|si venga hombre|
|Volkswagen Model 111|27.0|        4|       97.00|     60.00| 1834.|        19.0|   71|Europe|si venga hombre|
|   Volkswagen Type 3|23.0|        4|       97.00|     54.00| 2254.|        23.5|   72|Europe|si venga hombre|
|     Volvo 145e (sw)|18.0|        4|       121.0|     112.0| 2933.|        14.5|   72|Europe|si venga hombre|
| Volkswagen 411 (sw)|22.0|        4|       121.0|     76.00| 2511.|        18.0|   72|Europe|si venga hombre|
|    Peugeot 504 (sw)|21.0|        4|       120.0|     87.00| 2979.|        19.5|   72|Europe|si venga hombre|
|     Renault 12 (sw)|26.0|        4|       96.00|     69.00| 2189.|        18.0|   72|Europe|si venga hombre|
|Volkswagen Super ...|26.0|        4|       97.00|     46.00| 1950.|        21.0|   73|Europe|si venga hombre|
|Fiat 124 Sport Coupe|26.0|        4|       98.00|     90.00| 2265.|        15.5|   73|Europe|si venga hombre|
|            Fiat 128|29.0|        4|       68.00|     49.00| 1867.|        19.5|   73|Europe|si venga hombre|
|          Opel Manta|24.0|        4|       116.0|     75.00| 2158.|        15.5|   73|Europe|si venga hombre|
+--------------------+----+---------+------------+----------+------+------------+-----+------+---------------+
only showing top 20 rows

In [47]:
df.filter(col("Origin")=="US").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+---------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|   Third_Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+---------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|si venga hombre|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|si venga hombre|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|si venga hombre|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|si venga hombre|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|si venga hombre|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|si venga hombre|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|si venga hombre|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|si venga hombre|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|si venga hombre|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|si venga hombre|
|Chevrolet Chevell...|   0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|si venga hombre|
|    Ford Torino (sw)|   0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|si venga hombre|
|Plymouth Satellit...|   0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|si venga hombre|
|  AMC Rebel SST (sw)|   0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|si venga hombre|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|si venga hombre|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|si venga hombre|
|Ford Mustang Boss...|   0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|si venga hombre|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|si venga hombre|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0| 3086.|        10.0|   70|    US|si venga hombre|
|     Plymouth Duster|22.0|        6|       198.0|     95.00| 2833.|        15.5|   70|    US|si venga hombre|
+--------------------+----+---------+------------+----------+------+------------+-----+------+---------------+
only showing top 20 rows

In [54]:
df.filter((df["Horsepower"]==150.0) &(df["Origin"]=="US")).show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+---------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|   Third_Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+---------------+
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|si venga hombre|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|si venga hombre|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|si venga hombre|
|   Plymouth Fury iii|14.0|        8|       318.0|     150.0| 4096.|        13.0|   71|    US|si venga hombre|
|   Plymouth Fury III|15.0|        8|       318.0|     150.0| 4135.|        13.5|   72|    US|si venga hombre|
|  AMC Ambassador SST|17.0|        8|       304.0|     150.0| 3672.|        11.5|   72|    US|si venga hombre|
|    AMC Matador (sw)|15.0|        8|       304.0|     150.0| 3892.|        12.5|   72|    US|si venga hombre|
|Plymouth Satellit...|14.0|        8|       318.0|     150.0| 4077.|        14.0|   72|    US|si venga hombre|
|         AMC Matador|14.0|        8|       304.0|     150.0| 3672.|        11.5|   73|    US|si venga hombre|
|Dodge Coronet Custom|15.0|        8|       318.0|     150.0| 3777.|        12.5|   73|    US|si venga hombre|
|Chevrolet Caprice...|13.0|        8|       400.0|     150.0| 4464.|        12.0|   73|    US|si venga hombre|
|Plymouth Fury Gra...|14.0|        8|       318.0|     150.0| 4237.|        14.5|   73|    US|si venga hombre|
|    Chevrolet Impala|11.0|        8|       400.0|     150.0| 4997.|        14.0|   73|    US|si venga hombre|
|   Dodge Dart Custom|15.0|        8|       318.0|     150.0| 3399.|        11.0|   73|    US|si venga hombre|
|Buick Century Lux...|13.0|        8|       350.0|     150.0| 4699.|        14.5|   74|    US|si venga hombre|
|Dodge Coronet Cus...|14.0|        8|       318.0|     150.0| 4457.|        13.5|   74|    US|si venga hombre|
|    AMC Matador (sw)|14.0|        8|       304.0|     150.0| 4257.|        15.5|   74|    US|si venga hombre|
| Plymouth Grand Fury|16.0|        8|       318.0|     150.0| 4498.|        14.5|   75|    US|si venga hombre|
|Dodge Coronet Bro...|16.0|        8|       318.0|     150.0| 4190.|        13.0|   76|    US|si venga hombre|
|Plymouth Volare P...|13.0|        8|       318.0|     150.0| 3940.|        13.2|   76|    US|si venga hombre|
+--------------------+----+---------+------------+----------+------+------------+-----+------+---------------+
only showing top 20 rows