In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, when, desc, asc  # Common imports

## init

In [2]:
spark = SparkSession.\
    builder.\
    appName("sparksql").\
    getOrCreate()

In [3]:
print(spark.version)

3.5.5

In [4]:
data = spark.read.format("csv").\
    option("inferSchema", "true").\
    option("header", "true").\
    option("path", "operations_management.csv").\
    load()

In [5]:
data

DataFrame[description: string, industry: string, level: int, size: string, line_code: string, value: int]

In [6]:
data.printSchema()

root
 |-- description: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- level: integer (nullable = true)
 |-- size: string (nullable = true)
 |-- line_code: string (nullable = true)
 |-- value: integer (nullable = true)

In [8]:
data.select("industry","value").show()

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|               total|13080|
|               total| 3348|
|               total| 1089|
|               total| 1023|
|Agriculture, fore...| 2364|
|         Agriculture| 1683|
|  Commercial fishing|   27|
|  Forestry & logging|  126|
|Agriculture, fore...|  528|
|              Mining|   72|
|       Manufacturing| 1971|
|Food, beverage, &...|  588|
|Textile, clothing...|   96|
|Wood & paper product|  156|
|Printing, publish...|   72|
|Petroleum, coal, ...|  189|
|Non-metallic mine...|  108|
|       Metal product|  246|
|Transport and ind...|  285|
|Other machinery &...|  117|
+--------------------+-----+
only showing top 20 rows

In [19]:
data.select("industry","value").\
filter(col("value") > 9999).\
show()

+--------+-----+
|industry|value|
+--------+-----+
|   total|13080|
|   total|18540|
|   total|15810|
|   total|21417|
|   total|13008|
|   total|19209|
|   total|26010|
|   total|10155|
|   total|10155|
|   total|13848|
|   total|18624|
|   total|25977|
|   total|15033|
|   total|20955|
|   total|11211|
|   total|11466|
|   total|11874|
|   total|12498|
|   total|12918|
|   total|11661|
+--------+-----+
only showing top 20 rows

In [23]:
data.select("industry","value").\
filter(col("value") > 9999).\
orderBy(asc("value")).\
show()

+--------+-----+
|industry|value|
+--------+-----+
|   total|10077|
|   total|10119|
|   total|10149|
|   total|10155|
|   total|10155|
|   total|10161|
|   total|10200|
|   total|10218|
|   total|10236|
|   total|10317|
|   total|10380|
|   total|10446|
|   total|10458|
|   total|10497|
|   total|10503|
|   total|10548|
|   total|10638|
|   total|10692|
|   total|10761|
|   total|10767|
+--------+-----+
only showing top 20 rows

In [25]:
# without importing
data.select("industry","value").\
filter(data["value"] > 9999).\
orderBy(asc("value")).\
show()

+--------+-----+
|industry|value|
+--------+-----+
|   total|10077|
|   total|10119|
|   total|10149|
|   total|10155|
|   total|10155|
|   total|10161|
|   total|10200|
|   total|10218|
|   total|10236|
|   total|10317|
|   total|10380|
|   total|10446|
|   total|10458|
|   total|10497|
|   total|10503|
|   total|10548|
|   total|10638|
|   total|10692|
|   total|10761|
|   total|10767|
+--------+-----+
only showing top 20 rows

In [26]:
data.select("industry","value").\
filter(data["value"] > 9999).\
orderBy(asc("value")).\
show(3)

+--------+-----+
|industry|value|
+--------+-----+
|   total|10077|
|   total|10119|
|   total|10149|
+--------+-----+
only showing top 3 rows

In [38]:
data_2 = data.select("industry","value").\
filter(data["value"] > 9999).\
orderBy(asc("value"))

In [29]:
data_2.printSchema()

root
 |-- industry: string (nullable = true)
 |-- value: integer (nullable = true)

In [31]:
data_2.show()

+--------+-----+
|industry|value|
+--------+-----+
|   total|10077|
|   total|10119|
|   total|10149|
|   total|10155|
|   total|10155|
|   total|10161|
|   total|10200|
|   total|10218|
|   total|10236|
|   total|10317|
|   total|10380|
|   total|10446|
|   total|10458|
|   total|10497|
|   total|10503|
|   total|10548|
|   total|10638|
|   total|10692|
|   total|10761|
|   total|10767|
+--------+-----+
only showing top 20 rows

In [39]:
data_2 = data.select("industry","value").\
filter((data["value"] > 99) & (data["industry"] != "total")).\
orderBy(asc("value"))

In [40]:
data_2.show(3)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|Education & training|  102|
| Other manufacturing|  102|
|Printing, publish...|  102|
+--------------------+-----+
only showing top 3 rows

### using sql

In [41]:
data_2.createOrReplaceTempView("data")

In [43]:
spark.sql("""
    SELECT industry, value
    FROM data
    WHERE value > 99
        AND industry != "total"
    ORDER BY value
""").show(3)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|Education & training|  102|
| Other manufacturing|  102|
|Printing, publish...|  102|
+--------------------+-----+
only showing top 3 rows